<div class="md:flex md:justify-items-start">  
    <nav class="text-left">
      <div>
        {% include 'search/snippets/search-form.html' with placeholder="Search" %}
      </div>
      
      <div class="flex justify-start">
        <div>
          <h1 class="font-bold uppercase p-2 border-gray-100">
            Sweet Sweet Swag
          </h1>
        </div>      
        <div class="px-4 cursor-pointer md:hidden" id="shop">
          Shop    
        </div>
      </div>
      
      <ul class="hidden md:block" id="menu">
        <li class="text-gray-500 font-bold py-1">
          <a class="px-4 nav-item-r" href="{% url 'home' %}">
            <span>Home</span>
          </a>
        </li>
  
        <li class="text-gray-500 font font-bold py-1">
          <a class="px-4 nav-item-r" href="{% url 'products:list' %}">
            <span>Shop</span>
          </a>
        </li>
  
        <li class="text-gray-500 font font-bold py-1">
          <a class="px-4 nav-item-r" href="#">
            <span>Profile</span>
          </a>
        </li>
        
        <li class="text-gray-500 font font-bold py-1">
          <a class="px-4 nav-item-r" href="#">
            <span>Contact</span>
          </a>
        </li>
  
        <li class="text-gray-500 font font-bold py-1">
          <a class="px-4 nav-item-r" href="#">
            <span>Blog</span>
          </a>
        </li>
  
        <li class="text-gray-500 font font-bold py-1">
          <a class="px-4 nav-item-r" href="#">
            <span>About</span>
          </a>
        </li>
        
        <li class="text-gray-500 font font-bold py-1">
          <a class="px-4 nav-item-r" href="#">
            <span class='navbar-cart-count m-1'>{{ request.session.cart_item_count }}</span> Cart
          </a>
        </li>
      </ul>
    </nav>
  </div>
  