{% extends "base.html" %}
{% block content %}
<main class="px-16 py-6 bg-gray-100 md:col-span-4">
    <h1>Manage Carts</h1>
    <div class="row">
        <div class="col-8">
            {% include 'analytics/snippets/search-form.html' with placeholder="search orders" %}
        </div>
    </div>
    <div class="row">
        <div class="col-2" id="sales-orders">
            <h3>Cart</h3>
        </div>
        <div class="col-4" id="products">
            <a href="{% url 'cart:create' %}">Create Cart</a>
        </div>
    </div>
</main>
{% endblock %}