{% extends "base.html" %}
{% block content %}
<main class="px-16 py-6 bg-gray-100 table-responsive">
    <a href="{% url 'accounts:home' %}"><< Back</a>
    <div>
        <h1>Sales</h1>
        <hr>
    </div>
    <!-- Today's Sales -->
    <div>    
        <div>
            <h2>Today's Sales</h2>
            <p>
                Order Totals: £{% if today.recent_data.total__sum|floatformat:2 %}
                {{today.recent_data.total__sum}}
                {% else %}0 
                {% endif %}
            </p>
            <ol>
            {% for order in today.recent|slice:":5" %}
            <li class="my-3">
                #{{order.order_id}} <br>
                £{{order.total|floatformat:2}} <br>
                Ordered: {{order.updated|timesince}} ago
            </li>
            {% endfor %}
            </ol>
            <!-- This Weeks Sales -->
            <h2>This weeks sales</h2>
            <hr>
            <p>
                Order Totals: £{% if this_week.recent_data.total__sum|floatformat:2 %}
                {{this_week.recent_data.total__sum|floatformat:2}}
                {% else %}0
                {% endif %}
            </p>
            <ol>
            {% for order in this_week.recent %}
            <li class="my-3">
                #{{order.order_id}} <br>
                £{{order.total|floatformat:2}} <br>
                Ordered: {{order.updated|timesince}} ago
            </li>
            {% endfor %}
            </ol>
        </div>
        <div>
            <canvas class="bjh-render-chart" id="thisWeekSales" data-type="week"></canvas>
        </div>
    </div>
    <!-- last Month's Sales -->
    <div>
        <div>
            <h2>Last 4 Weeks</h2>
            <hr>
            <p>Month Totals: £{{last_four_weeks.recent_data.total__sum|floatformat:2}}</p> 
            <p>Shipped Total: £{{last_four_weeks.shipped_data.total__sum|floatformat:2}}</p>
            <p>Paid Totals: £{{ last_four_weeks.paid_data.total__sum|floatformat:2 }}</p>
        </div>
    
        <div class="col">
            <canvas class="bjh-render-chart" id="fourWeekSales" data-type="4weeks"></canvas>
        </div>
      </div>
</main>

{% endblock %}