<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

<div class="row">
    <div class="col-6">
        Hello {{ name }}
    </div>

    <div class="col-6">
        <h4> Order No: {{ order_id }}</h4>
        Your order has now been shipped and should arrive in the next 2-3 days<br>
        If you have any queries, please contact us at shop@SweetSweetSwag.com <br>
        quoting your order number
    </div>

    <div class="col-12">
        Thank you <a href="http://www.SweetSweetSwag.com">SweetSweetSwag</a>
    </div>
</div>
