{% extends "base.html" %}
{% block content %}
<main class="px-16 py-6 bg-gray-100" id="search-main">
    <header id="search-header">
        <h4 class="font-bold mt-12 pb-2 border-b border-gray-200">Results</h4>
    </header>
    <div id="search-div">
        {% if query %}
        <div name="search-div-result">
            {% for result in object_list %}
                <br>{{result.title}} <br>
                <img src="{{result.image.url}}" alt="{{result.title}}">
            {% endfor %}
        </div>
        {% else %}
        <div id="search-form-div">
            {% include 'search/snippets/search-form.html'%}
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}