{% extends "base.html" %}
{% block content %}
    <div>
        {% if query %}
            {% for result in object_list %}
            <div>
                result:
                <br>{{result.title}} <br>
                <img src="{{result.image.url}}" alt="{{result.title}}">
            </div>
            <br>
            {% endfor %}
        {% else %}
            <div>
                {% include 'search/snippets/search-form.html'%}
            </div>
    {% endif %}
    </div>
{% endblock %}
<div>
    {% for result in object_list %}
    <div>
        {{result.title}}
    </div>
    {% endfor %}
</div>
